@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/IranSansX/IRANSansXFaNum-Regular.woff') format('woff'),
    url('../fonts/IranSansX/IRANSansXFaNum-Regular.woff2') format('woff2'),
    url("../fonts/IranSansX/IRANSansXFaNum-Regular.ttf") format("truetype")
}

@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/IranSansX/IRANSansXFaNum-Medium.woff') format('woff'),
    url('../fonts/IranSansX/IRANSansXFaNum-Medium.woff2') format('woff2'),
    url("../fonts/IranSansX/IRANSansXFaNum-Medium.ttf") format("truetype")
}

@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/IranSansX/IRANSansXFaNum-Bold.woff') format('woff'),
    url('../fonts/IranSansX/IRANSansXFaNum-Bold.woff2') format('woff2'),
    url("../fonts/IranSansX/IRANSansXFaNum-Bold.ttf") format("truetype")
}


@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: 900;
  src: url('../fonts/IranSansX/IRANSansXFaNum-Heavy.woff') format('woff'),
    url('../fonts/IranSansX/IRANSansXFaNum-Heavy.woff2') format('woff2'),
    url("../fonts/IranSansX/IRANSansXFaNum-Heavy.ttf") format("truetype")
}

@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/IranSansX/IRANSansXFaNum-Regular.woff') format('woff'),
    url('../fonts/IranSansX/IRANSansXFaNum-Regular.woff2') format('woff2'),
    url("../fonts/IranSansX/IRANSansXFaNum-Regular.ttf") format("truetype")
}

:root {

  --primary-tint-1: #F0D6D0;
  --primary-tint-2: #DFAEA3;
  --primary-tint-2-rgb: 223, 174, 163;
  --primary-tint-3: #FCA197;
  --primary-tint-4: #CB8777;
  --primary-tint-5: #9B3928;
  --primary-color: #800000;
  --primary-shade-1: #6B0901;
  --primary-shade-2: #560E02;
  --primary-shade-3: #430F02;
  --primary-shade-4: #300E01;
  --primary-shade-5: #1E0900;

  --secondary-tint-1: #D5D5DD;
  --secondary-tint-2: #ABACBB;
  --secondary-tint-3: #84849B;
  --secondary-tint-4: #5E5F7B;
  --secondary-tint-5: #393D5D;
  --secondary-color: #131D40;
  --secondary-shade-1: #131936;
  --secondary-shade-2: #12162C;
  --secondary-shade-3: #101223;
  --secondary-shade-4: #0D0D1A;
  --secondary-shade-5: #070610;

  --third-tint-1: #ECE7D5;
  --third-tint-2: #D8D0AD;
  --third-tint-3: #C3B985;
  --third-tint-4: #ADA35F;
  --third-tint-5: #978D37;
  --third-color: #807800;
  --third-shade-1: #6A6309;
  --third-shade-2: #554F0D;
  --third-shade-3: #413C0E;
  --third-shade-4: #2D290D;
  --third-shade-5: #1B1808;


  --sidebar-width: 264px;


  --filter-primary: brightness(0) saturate(100%) invert(11%) sepia(24%) saturate(7339%) hue-rotate(350deg) brightness(122%) contrast(115%);
  --filter-primary-tint-1: brightness(0) saturate(100%) invert(98%) sepia(4%) saturate(2677%) hue-rotate(298deg) brightness(100%) contrast(89%);
  --filter-primary-tint-2: brightness(0) saturate(100%) invert(81%) sepia(13%) saturate(737%) hue-rotate(321deg) brightness(87%) contrast(101%);
  --filter-primary-tint-3: brightness(0) saturate(100%) invert(88%) sepia(36%) saturate(1376%) hue-rotate(300deg) brightness(102%) contrast(99%);

  --filter-secondary-tint-2: brightness(0) saturate(100%) invert(75%) sepia(15%) saturate(189%) hue-rotate(198deg) brightness(89%) contrast(95%);

  --filter-FFFFFF: brightness(0) saturate(100%) invert(88%) sepia(99%) saturate(5%) hue-rotate(266deg) brightness(110%) contrast(97%);


  /* bs */
  --bs-primary: #800000;
  --bs-secondary: #131D40;

  --bs-primary-rgb: 128, 0, 0;
  --bs-secondary-rgb: 19, 29, 64;
  --bs-font-sans-serif: 'IRANSans';
  --bs-body-bg: var(--secondary-shade-3);
  --bs-body-bg-rgb: 31, 19, 51;
  --bs-btn-close-color: #800000;
  --bs-body-color: var(--secondary-tint-1);
  --bs-heading-color: var(--secondary-tint-1);


  /* swiper */
  --swiper-pagination-bullet-inactive-opacity: 1;
}


* {
  font-family: 'IRANSans';
  line-height: 24px;
}

body {
  max-width: 1440px;
}

a {
  text-decoration: none;
}

.text-justify {
  text-align: justify;
}

.main-content {
  width: calc(100% - var(--sidebar-width));
}

.sidebar {
  width: var(--sidebar-width);
}

.ellipsis-text {
  display: inline-block;
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}



.nav-pills {
  --bs-nav-pills-border-radius: 4px;
  --bs-nav-pills-link-active-color: var(--primary-tint-2);
  --bs-nav-pills-link-active-bg: var(--primary-shade-2);
}

.nav-pills .nav-link {
  color: var(--secondary-tint-1);
  background-color: var(--secondary-color);
}

.nav-pills .nav-link:hover {
  color: var(--secondary-tint-2);
}



.swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  background-color: var(--secondary-tint-2);
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
}

.swiper-pagination-bullet.swiper-pagination-bullet-active {
  position: relative;
  width: 10px;
  height: 20px;
  background-color: var(--third-color);
  margin: 10px 0;
}

.swiper-pagination-bullet.swiper-pagination-bullet-active::before,
.swiper-pagination-bullet.swiper-pagination-bullet-active::after {
  content: '';
  position: absolute;
  left: 0;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
}

.swiper-pagination-bullet.swiper-pagination-bullet-active::before {
  top: -10px;
  border-bottom: 10px solid var(--third-color);
}

.swiper-pagination-bullet.swiper-pagination-bullet-active::after {
  bottom: -10px;
  border-top: 10px solid var(--third-color);
}

.pagination {
  --bs-pagination-color: var(--secondary-tint-2);
  --bs-pagination-border-width: 0;
  --bs-pagination-hover-color: var(--primary-shade-4);
  --bs-pagination-hover-bg: var(--primary-tint-4);
  --bs-pagination-focus-color: var(--primary-tint-1);
  --bs-pagination-focus-bg: var(--primary-color);
  --bs-pagination-focus-box-shadow: 0 0 0 0.25rem var(--primary-tint-1);
  --bs-pagination-active-color: #fff;
  --bs-pagination-active-bg: var(--primary-color);
  --bs-pagination-disabled-color: transparent;
  --bs-pagination-disabled-bg: transparent;
}


/* color */

.primary-tint-1 {
  background-color: var(--primary-tint-1);
}

.primary-tint-2 {
  background-color: var(--primary-tint-2);
}

.primary-tint-3 {
  background-color: var(--primary-tint-3);
}

.primary-tint-4 {
  background-color: var(--primary-tint-4);
}

.primary-tint-5 {
  background-color: var(--primary-tint-5);
}

.primary-color {
  background-color: var(--primary-color);
}

.primary-shade-1 {
  background-color: var(--primary-shade-1);
}

.primary-shade-2 {
  background-color: var(--primary-shade-2);
}

.primary-shade-3 {
  background-color: var(--primary-shade-3);
}

.primary-shade-4 {
  background-color: var(--primary-shade-4);
}

.primary-shade-5 {
  background-color: var(--primary-shade-5);
}

.secondary-tint-1 {
  background-color: var(--secondary-tint-1);
}

.secondary-tint-2 {
  background-color: var(--secondary-tint-2);
}

.secondary-tint-3 {
  background-color: var(--secondary-tint-3);
}

.secondary-tint-4 {
  background-color: var(--secondary-tint-4);
}

.secondary-tint-5 {
  background-color: var(--secondary-tint-5);
}

.secondary-color {
  background-color: var(--secondary-color);
}

.secondary-shade-1 {
  background-color: var(--secondary-shade-1);
}

.secondary-shade-2 {
  background-color: var(--secondary-shade-2);
}

.secondary-shade-3 {
  background-color: var(--secondary-shade-3);
}

.secondary-shade-4 {
  background-color: var(--secondary-shade-4);
}

.secondary-shade-5 {
  background-color: var(--secondary-shade-5);
}

.third-tint-1 {
  background-color: var(--third-tint-1);
}

.third-tint-2 {
  background-color: var(--third-tint-2);
}

.third-tint-3 {
  background-color: var(--third-tint-3);
}

.third-tint-4 {
  background-color: var(--third-tint-4);
}

.third-tint-5 {
  background-color: var(--third-tint-5);
}

.third-color {
  background-color: var(--third-color);
}

.third-shade-1 {
  background-color: var(--third-shade-1);
}

.third-shade-2 {
  background-color: var(--third-shade-2);
}

.third-shade-3 {
  background-color: var(--third-shade-3);
}

.third-shade-4 {
  background-color: var(--third-shade-4);
}

.third-shade-5 {
  background-color: var(--third-shade-5);
}


.text-primary-tint-1 {
  color: var(--primary-tint-1);
}

.text-primary-tint-2 {
  color: var(--primary-tint-2);
}

.text-primary-tint-3 {
  color: var(--primary-tint-3);
}

.text-primary-tint-4 {
  color: var(--primary-tint-4);
}

.text-primary-tint-5 {
  color: var(--primary-tint-5);
}

.text-primary-shade-1 {
  color: var(--primary-shade-1);
}

.text-primary-shade-2 {
  color: var(--primary-shade-2);
}

.text-primary-shade-3 {
  color: var(--primary-shade-3);
}

.text-primary-shade-4 {
  color: var(--primary-shade-4);
}

.text-primary-shade-5 {
  color: var(--primary-shade-5);
}

.text-secondary-tint-1 {
  color: var(--secondary-tint-1);
}

.text-secondary-tint-2 {
  color: var(--secondary-tint-2);
}

.text-secondary-tint-3 {
  color: var(--secondary-tint-3);
}

.text-secondary-tint-4 {
  color: var(--secondary-tint-4);
}

.text-secondary-tint-5 {
  color: var(--secondary-tint-5);
}

.text-secondary-shade-1 {
  color: var(--secondary-shade-1);
}

.text-secondary-shade-2 {
  color: var(--secondary-shade-2);
}

.text-secondary-shade-3 {
  color: var(--secondary-shade-3);
}

.text-secondary-shade-4 {
  color: var(--secondary-shade-4);
}

.text-secondary-shade-5 {
  color: var(--secondary-shade-5);
}

.text-third-tint-1 {
  color: var(--third-tint-1);
}

.text-third-tint-2 {
  color: var(--third-tint-2);
}

.text-third-tint-3 {
  color: var(--third-tint-3);
}

.text-third-tint-4 {
  color: var(--third-tint-4);
}

.text-third-tint-5 {
  color: var(--third-tint-5);
}

.text-third-color {
  color: var(--third-color);
}

.text-third-shade-1 {
  color: var(--third-shade-1);
}

.text-third-shade-2 {
  color: var(--third-shade-2);
}

.text-third-shade-3 {
  color: var(--third-shade-3);
}

.text-third-shade-4 {
  color: var(--third-shade-4);
}

.text-third-shade-5 {
  color: var(--third-shade-5);
}


/* Type System */
.f-96px {
  font-size: 96px !important;
  line-height: 144px !important;
}

.f-64px {
  font-size: 64px !important;
  line-height: 96px !important;
}

.f-48px {
  font-size: 48px !important;
  line-height: 72px !important;
}

.f-40px {
  font-size: 40px !important;
  line-height: 60px !important;
}

.f-36px {
  font-size: 36px !important;
  line-height: 54px !important;
}

.f-32px {
  font-size: 32px !important;
  line-height: 48px !important;
}

.f-24px {
  font-size: 24px !important;
  line-height: 36px !important;
}

.f-20px {
  font-size: 20px !important;
  line-height: 30px !important;
}

.f-16px {
  font-size: 16px !important;
  line-height: 24px !important;
}

.f-14px {
  font-size: 14px !important;
  line-height: 20px !important;
}

.f-12px {
  font-size: 12px !important;
  line-height: 18px !important;
}

.f-10px {
  font-size: 10px !important;
  line-height: 16px !important;
}

.fw-400 {
  font-weight: 400 !important;
}

.fw-500 {
  font-weight: 500 !important;
}

.fw-bold {
  font-weight: 700 !important;
}

.fw-heavy {
  font-weight: 900 !important;
}

/* Padding */

.p-2px {
  padding: 2px;
}

.p-4px {
  padding: 4px;
}

.p-8px {
  padding: 8px;
}

.p-12px {
  padding: 12px;
}

.p-16px {
  padding: 16px;
}

.p-24px {
  padding: 24px;
}

.p-32px {
  padding: 32px;
}

.ps-1,
.ps-2,
.ps-3,
.ps-4,
.ps-5 {
  padding-left: 0rem !important;
}

.pe-1,
.pe-2,
.pe-3,
.pe-4,
.pe-5 {
  padding-right: 0rem !important;
}


.ms-1,
.ms-2,
.ms-3,
.ms-4,
.ms-5 {
  margin-left: 0rem !important;
}

.me-1,
.me-2,
.me-3,
.me-4,
.me-5 {
  margin-right: 0rem !important;
}




.border-start {
  border-left: none !important;
}

.border-end {
  border-right: none !important;
}






/* Radius */

.rounded-4px {
  border-radius: 4px !important;
}

.rounded-8px {
  border-radius: 8px !important;
}

.rounded-12px {
  border-radius: 12px !important;
}

.rounded-16px {
  border-radius: 16px !important;
}

.rounded-24px {
  border-radius: 24px !important;
}

.rounded-circle {
  border-radius: 9999px !important;
}

/* Spacing width */

.w-4px {
  width: 4px;
}

.w-8px {
  width: 8px;
}

.w-10px {
  width: 10px;
}

.w-12px {
  width: 12px;
}

.w-16px {
  width: 16px;
}

.w-20px {
  width: 20px;
}

.w-24px {
  width: 24px;
}

.w-32px {
  width: 32px;
}

.w-40px {
  width: 40px;
}

.w-48px {
  width: 48px;
}

.w-56px {
  width: 56px;
}

.w-64px {
  width: 64px;
}

.w-72px {
  width: 72px;
}

.w-80px {
  width: 80px;
}

.w-88px {
  width: 88px;
}

.w-104px {
  width: 104px;
}

.w-168px {
  width: 168px;
}

/* Spacing height */

.h-4px {
  height: 4px;
}

.h-8px {
  height: 8px;
}

.h-10px {
  height: 10px;
}

.h-12px {
  height: 12px;
}

.h-16px {
  height: 16px;
}

.h-20px {
  height: 20px;
}

.h-24px {
  height: 24px;
}

.h-32px {
  height: 32px;
}

.h-40px {
  height: 40px;
}

.h-48px {
  height: 48px;
}

.h-56px {
  height: 56px;
}

.h-64px {
  height: 64px;
}

.h-72px {
  height: 72px;
}

.h-80px {
  height: 80px;
}

.h-88px {
  height: 88px;
}

.h-104px {
  height: 104px;
}

.h-168px {
  height: 168px;
}

/* bottom primary */

.btn-primary {
  --bs-btn-color: var(--primary-tint-1);
  --bs-btn-bg: var(--primary-color);
  --bs-btn-border-color: var(--primary-color);
  --bs-btn-hover-color: var(--primary-tint-1);
  --bs-btn-hover-bg: var(--primary-tint-5);
  --bs-btn-hover-border-color: var(--primary-tint-5);
  --bs-btn-focus-shadow-rgb: var(--primary-tint-2);
  --bs-btn-active-color: var(--primary-tint-1);
  --bs-btn-active-bg: var(--primary-color);
  --bs-btn-active-border-color: var(--primary-tint-3);
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: var(--primary-tint-1);
  --bs-btn-disabled-bg: var(--primary-tint-3);
  --bs-btn-disabled-border-color: var(--primary-tint-3);
}

.btn-primary img {
  filter: var(--filter-primary-tint-1);
}

.btn-outline-primary {
  --bs-btn-color: var(--primary-color);
  --bs-btn-border-color: var(--primary-color);
  --bs-btn-hover-color: var(--primary-tint-3);
  --bs-btn-hover-bg: transparent;
  --bs-btn-hover-border-color: var(--primary-tint-3);
  --bs-btn-focus-shadow-rgb: var(--bs-primary-rgb);
  --bs-btn-active-color: var(--primary-color);
  --bs-btn-active-bg: transparent;
  --bs-btn-active-border-color: var(--primary-color);
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: var(--primary-tint-3);
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: var(--primary-tint-3);
  --bs-gradient: none;
}

.btn-outline-primary img {
  filter: var(--filter-primary);
}

.btn-outline-primary:hover img,
.btn-outline-primary:disabled img {
  filter: var(--filter-primary-tint-3);
}



/* Type System */
.tight-1 {
  box-shadow: 0px 1px 3px 0px #0000004D;
}

.tight-2 {
  box-shadow: 0px 1.25px 4px 0px #00000040;
}

.tight-3 {
  box-shadow: 0px 2px 6px 0px #00000038;
}

.tight-4 {
  box-shadow: 0px 2px 7px 0px #0000003D;
}

.tight-5 {
  box-shadow: 0px 3px 12px 0px #00000033;
}

.tight-6 {
  box-shadow: 0px 3.5px 14px 0px #00000033;
}

.tight-7 {
  box-shadow: 0px 7px 18px 0px #0000002B;
}

.tight-8 {
  box-shadow: 0px 12px 28px 0px #00000033;
}

.tight-9 {
  box-shadow: 0px 13px 36px 0px #00000038;
}

.fluffy-1 {
  box-shadow: 0px 5px 15px 0px #00000026;
}

.fluffy-2 {
  box-shadow: 0px 6.25px 20px 0px #00000020;
}

.fluffy-3 {
  box-shadow: 0px 10px 30px 0px #0000001C;
}

.fluffy-4 {
  box-shadow: 0px 10px 35px 0px #0000001F;
}

.fluffy-5 {
  box-shadow: 0px 15px 60px 0px #0000001F;
}

.fluffy-6 {
  box-shadow: 0px 17.5px 70px 0px #0000001F;
}

.fluffy-7 {
  box-shadow: 0px 35px 90px 0px #00000022;
}


/* filter */



.filter-primary {
  filter: var(--filter-primary);
}

.filter-primary-tint-1 {
  filter: var(--filter-primary-tint-1);
}

.filter-primary-tint-3 {
  filter: var(--filter-primary-tint-3);
}



.filter-secondary-tint-2 {
  filter: var(--filter-secondary-tint-2);
}


.filter-FFFFFF {
  filter: var(--filter-FFFFFF);
}


/* input */
input::placeholder {
  color: var(--secondary-tint-5) !important;
}

input::-webkit-input-placeholder {
  color: var(--secondary-tint-5) !important;
}

input::-moz-placeholder {
  color: var(--secondary-tint-5) !important;
  opacity: 1;
}

input:-ms-input-placeholder {
  color: var(--secondary-tint-5) !important;
}

input:-moz-placeholder {
  color: var(--secondary-tint-5) !important;
  opacity: 1;
}

/* hr */
hr {
  border: none;
  height: 1px;
}


/* custom */
.sidebar-menu .menu-item-container a {
  color: var(--secondary-tint-2);
}

.sidebar-menu .menu-item-container .arrow-toggle {
  background-color: var(--secondary-tint-2);
}

.sidebar-menu .menu-item-container img {
  filter: var(--filter-secondary-tint-2);
}

.sidebar-menu .menu-item-container.active {
  background-color: var(--primary-shade-3);
}


.sidebar-menu .menu-item-container.active a {
  color: var(--primary-tint-2);
}


.sidebar-menu .menu-item-container.active .arrow-toggle {
  background-color: rgba(var(--primary-tint-2-rgb), 0.4);

}

.sidebar-menu .menu-item-container.active .arrow-toggle i {
  color: var(--primary-tint-2);
}

.sidebar-menu .menu-item-container.active img {
  filter: var(--filter-primary-tint-2);
}


.sidebar-menu .submenu .submenu-item .menu-item-container {
  background-color: var(--secondary-color);
  background-image: url('../image/menu_vector.png');
  background-size: 100%;
  background-position: center;
}

.sidebar-menu .submenu .submenu-item .menu-item-container:hover {
  background-blend-mode: exclusion;
}

.sidebar-menu .submenu .submenu-item .menu-item-container.active {
  background-color: var(--primary-shade-2);
  background-image: url('../image/menu_vector_active.png');
}

/* news-ticker */
.news {
  background-image: url('../image/news_bg.png');
  background-size: 100%;
}

.news-ticker {
  padding: 10px;
  overflow: hidden;
  white-space: nowrap;
  position: relative;
}

.news-ticker .ticker-container {
  display: inline-block;
  padding-right: 100%;
  /* برای ایجاد فضای خالی در سمت راست */
  animation: ticker 30s linear infinite;
}


@keyframes ticker {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(100%);
  }
}

.sidebar-tab .nav-pills .nav-link {
  color: var(--secondary-tint-1);
  background-color: var(--secondary-color);
}

.sidebar-tab .nav-pills .nav-link.active {
  background-color: var(--third-tint-5);
}

.sidebar-tab img {
  width: 44px !important;
}

.line-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.line-between::after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  height: 1px;
  width: 80%;
  background-color: var(--secondary-color);
}

.line-between span {
  position: relative;
  z-index: 1;
  background-color: var(--bs-body-bg);
  padding: 0 10px;
}

.media_cat {
  background-color: var(--secondary-color);
  background-image: url('../image/media_bg.png');
  background-size: 100%;
  background-position: center;
}


.swiper-my-body {
  height: 385px;
}

.swiper-my-body .swiper {
  width: 100%;
  height: 100%;
}

.image-container {
  position: relative;
  width: 100%;
  height: 400px;
  overflow: hidden;
  border-radius: 8px;
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.3s ease;
}

.image-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, rgba(19, 29, 64, 0) 0%, #131936 100%);
  transition: all 0.3s ease;
}

.image-container:hover .image-overlay {
  background: linear-gradient(176.76deg, rgba(128, 0, 0, 0) 2.65%, #800000 97.35%);
}

.top-left-text {
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 18px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}

.bottom-right-text {
  position: absolute;
  bottom: 20px;
  right: 20px;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}

.hero-news.active {
  background-color: var(--secondary-shade-2) !important;
}

.hero-news .hero-news-img {
  border-color: var(--third-color) !important;
}

.hero-news.active .hero-news-img {
  border-color: red !important;
}

.footer-menu a:hover {
  color: var(--primary-tint-2);
}

@media (max-width: 992px) {
  .main-content {
    width: 100%;
  }
}

@media (max-width: 768px) {}

@media (max-width: 576px) {}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

body.no-scroll {
  overflow: hidden;
}

.loader {
  width: 50px;
  height: 50px;
  border: 5px solid var(--primary-color);
  border-top: 5px solid var(--secondary-color);
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}